# EduQuery AI — Environment Configuration
# Salin file ini sebagai .env dan sesuaikan isinya.

OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=gemma3:1b
OLLAMA_TIMEOUT=30

APP_HOST=0.0.0.0
APP_PORT=8000

BP_DB_USER=us_dwh
BP_DB_PASSWORD=DeWeHaRS20DuaFive
BP_DB_HOST=bpdb-scan.bpbatam.go.id:1521
BP_DB_SERVICE_NAME=begs